:root {
    --color-100: #e6e9fa;
    --color-200: #9fa7d6;
    --color-300: #5e70d6;
    --color-400: #3d488a;
    --color-500: #2241f7;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #fff;
}

.container-fluid {
    padding: 0px;
}

.categories {
    padding: 50px 0px;
    background-color: var(--color-200);
}

.categories i {
    color: var(--color-400);
    font-size: 3rem;
}
